body {
  background-image: url(../img/background3.jpg);
  background-attachment:fixed;
}
.logo {
  margin-top: 10px;
}

.toplink {
    text-decoration: underline ;
}

.topbutton {
  float: right;
  margin-top: 10px;
}

label {
    display: block;
}

.navbar {
  margin-top: 20px;
}

.navbar-inner {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #006dcc;
  *background-color: #0044cc;
  background-repeat: repeat-x;
    background-image: linear-gradient(to bottom, #0088cc, #0044cc);
    border-left-color: #0044cc;
    border-right-color: #0044cc;
    border-top-color: #0044cc;
    border-bottom-color: #002a80;
}

.navbar .nav {
    float: none;
}
.navbar .nav > li > a {
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    color:  white;
}

.navbar-inner ul.nav li {
    width: 16.6666%;
    text-align: center;
}

.carousel-caption {
      background-color: rgba(0,0,0,0.5);
      color: #fff;
      text-shadow: 0 1px 1px rgba(0,0,0,.4);
      margin-bottom: 10px;
      font-size: 18px;
    }

.accordion-heading {
    font-size: 18px;
}

.accordion-toggle {
    border: 2px solid white;
}

.carousel-control {
      height: 80px;
      margin-top: 0;
      font-size: 100px;
      text-shadow: 0 1px 1px rgba(0,0,0,.4);
      background-color: transparent;
      border: 0;
      z-index: 10;
    }

.selecter {
  margin-left: 10px;
}

.selectertext {
  margin-left: 10px;
}

.ratingStar {
    font-size: 0pt;
    width: 25px;
    height: 25px;
    margin: 0px;
    padding: 0px;
    cursor: pointer;
    display: block;
    background-repeat: no-repeat;
}

.filledRatingStar {
    background-image: url(../img/FilledStar.png);
}
.emptyRatingStar {
    background-image: url(../img/emptystar.png);
}
.savedRatingStar {
    background-image: url(../img/SavedStar.png);
}

#labeltext {
  color: white;
}


#h4 {
  color: white;
  margin-top: 20px;
}

h4 {
    margin-left: 20px;
}

.reservationBox {
  margin-bottom: 30px;
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #006dcc;
  *background-color: #0044cc;
  background-repeat: repeat-x;
    background-image: linear-gradient(to bottom, #0088cc, #0044cc);
    border-left-color: #0044cc;
    border-right-color: #0044cc;
    border-top-color: #0044cc;
    border-bottom-color: #002a80;
}

.check {
  margin-left: 18px;
  margin-bottom:20px;
}

.image {
  position: relative;
}

.imagetext, .viewdetai{
  position: absolute;
  top: 80px;
  left: 0;
  width: 100%;
  color: white;
  background: rgb(0,0,0);
  background: rgba(0,0,0,0.7);
}

.viewdetail {
  color: black;
  font-size: 14px;
}

footer {
  text-align: center;
}

.sidebar-nav {
    padding: 9px 0;
}

.dropdown-menu .sub-menu {
    left: 100%;
    position: absolute;
    top: 0;
    visibility: hidden;
    margin-top: -1px;
}

.dropdown-menu > li >a {
    width: 210px;
}

.dropdown-menu li:hover .sub-menu {
    visibility: visible;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.nav-tabs .dropdown-menu, .nav-pills .dropdown-menu, .navbar .dropdown-menu {
    margin-top: 0;
}

.navbar .sub-menu:before {
    border-bottom: 7px solid transparent;
    border-left: none;
    border-right: 7px solid rgba(0, 0, 0, 0.2);
    border-top: 7px solid transparent;
    left: -7px;
    top: 10px;
}
.navbar .sub-menu:after {
    border-top: 6px solid transparent;
    border-left: none;
    border-right: 6px solid #fff;
    border-bottom: 6px solid transparent;
    left: 10px;
    top: 11px;
    left: -6px;
}

.VeryPoorStrength
{
background: red;
color:White;
font-weight:bold;
}
.WeakStrength
{
background: Gray;
color:White;
font-weight:bold;
}
.AverageStrength
{
background: orange;
color:black;
font-weight:bold;
}
.GoodStrength

{
background: blue;
color:White;
font-weight:bold;
}
.ExcellentStrength

{
background: Green;
color:White;
font-weight:bold;
}
