﻿<%@ Page Title="" Language="C#" MasterPageFile="Home.master" AutoEventWireup="true" CodeFile="LocalMelbourneOperators.aspx.cs" Inherits="LocalMelbourneOperators" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" Runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="MainContent" Runat="Server">

    <div class="row-fluid">
        <h2 align ="center">Local Melbourne Operators</h2>
        <hr/>
              <ul class="thumbnails">
            <div class="span12">
              

<h3 align ="center">Services offered by Local Melbourne Operators</h3>

         <div class="row span12">
                <div class ="span5">
                     <ul class ="thumbnails">
                <article class="thumbnail"/>
                    <img src="img/GreatOceanRaod_Getty400.jpg">
                     </div>
                <div class ="span6">
                     <b>Great Ocean Road - Otway Discovery</b>
                 <p> 
                   Explore, Experience and Embrace the magic that is the Great Ocean Road! - BBQ LUNCH INCLUDED The incredible Great Ocean Road is one of the world’s most beautiful and naturally maintained secrets! 
                    </p> 
                     <p> 
                    Travel along the scenic Great Ocean Road and discover the dramatic ocean scenery as it changes between three sections: the Surf Coast, the Otway Ranges.</p> 
                    <p> It is an unforgettable experience which will stay in your memories forever. Do not just live, but feel alive. Revitalize all your senses after visiting this remarkable place.</p>
              </div>
           </div>
     <div class="row span12">
                <div class ="span5">
                     <ul class ="thumbnails">
                <article class="thumbnail"/>
                    <img src="img/GOR.jpg">
                     </div>
                <div class ="span6">
                     <b>GREAT OCEAN ROAD SURF TOURS</b>
                 <p> 
                   Great Ocean Road Surf Tours provide a full day learn to surf experience, 
                     which includes all of the following: Free pick up transport in and around Melbourne Board & Wetsuit
                      A thorough Learn to Surf lesson x2 A Subway Lunch!
                      Free time afternoon to practice more surfing and further one-on-one coaching Visit to the famous Torquay Surfing Plaza, Bells beach and local kangaroos Afternoon Refreshments

                     </p> 
              </div>
         </div>
        <div class="row span12">
                <div class ="span5">
                     <ul class ="thumbnails">
                <article class="thumbnail"/>
                    <img src="img/lb.jpg">
                     </div>
                <div class ="span6">
                     <b>Leadbeater Eco Tours</b>
                 <p> 
                   Enjoy story book villages, towering forests and misty mountains with Melbourne’s newest day tours - Leadbeater Eco Tours.
                     They specialise in small group tours in and around the Yarra Valley & Dandenong Ranges that have a low environmental impact.
                     They are named after Victoria’s State Emblem, Leadbeater’s Possum, because like it: they’re unique, have a light footprint and can only be found in Victoria. 
                     </p> 
              </div>
         </div>

          <div class="row span12">
             <div class ="span5">
                     <ul class ="thumbnails">
                <article class="thumbnail"/>
                    <img src="img/wtf.jpg">
                     </div>
               <div class ="span6">
                     <b>Longhorn YOUnique Tours</b>
                 <p> 
                   You'll see spectacular scenery, wildlife in their natural environment, enjoy home made treats and great accomodation as our expert guides take you on a journey of discovery. Eco certified and travelling in quality 4WD vechicles with a maximum of 5 other guests we'll provide you with a personalised service that's not available travelling in larger groups. Our tours travel to the Great Ocean Road, the Otways Rainforest, the ancient Grampians.
                     </p> 
              </div>
             </div>
                
             <div class="row span12">
                <div class ="span5">
                     <ul class ="thumbnails">
                <article class="thumbnail"/>
                    <img src="img/qwerty.jpg">
                     </div>
                <div class ="span6">
                     <b>Great Ocean Road - Otway Discovery</b>
                 <p> 
                   Explore, Experience and solve the magic that is our great national heritage! 
                     Check out both living treasures and the legendary treaures that have made these the stuff of legends - BBQ LUNCH INCLUDED 
                     Take the journey that is  gauranteed to leave you mezmerized.
                     We will pick you up and drop you to your hotel.
                     !!!

                     </p> 
              </div>
             </div>
                <br ><br />
<div class ="span11">
    <h2 align =" center"><i>We give you the unique local experience</i></h2>
<article class="thumbnail"/>
        <p align ="center"><img src="img\ecotourism.jpg"></p>
        
    </div>
                  </div>
                  
</asp:Content>