﻿<%@ Page Title="Allegra Hotel" Language="C#" MasterPageFile="Home.master" AutoEventWireup="true" 
    CodeFile="Receipt.aspx.cs" Inherits="Reservation_Receipt" %>


<asp:Content ID="Content1" ContentPlaceHolderID="head" Runat="Server">
    
</asp:Content>

<asp:Content ID="Content2" runat="server" contentplaceholderid="MainContent">
     <div class="container">
            <hr />
     </div>
    <div class="container" style="text-align:center">
        <h3>Successful! Enjoy your stay in Allegra Hotel!</h3>
    </div>

</asp:Content>

